#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#header{
  border:2px solid;
}

#login-state{
  border:2px solid
}

#nav-menu{
  border:2px solid; 
}

.nav-item{
  display:contents; 
}

.page-title{
  border:2px solid; 
}

.article-card{
  border:2px solid; 
  margin:0px;
  margin-left:-40px;
  align-content: center;
}
.article-card-img{
  width:50%;
  margin: 20px;
  margin-bottom: 0px;
  align-content: center;
}