#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#header{
  border:2px solid;
}

#login-state{
  border:2px solid;
 text-align: right;
}

#nav-menu{
  border:2px solid; 
  height:30px
}

/* #home-page{
} */

.nav-item{
  display:block; 
  float: inline-start;
  margin:10px;
  margin-top:5px;
}

.page-title{
  border:2px solid; 
}

.article-card{
  border:2px solid; 
  margin:0px;
  margin-left:-40px;
  align-content: center;
}
.article-card-img{
  width:50%;
  margin: 20px;
  margin-bottom: 0px;
  align-content: center;
}
.single-article{
  border: 2px solid;
  padding:10px;
  display:block;
  margin-bottom: 50px;
  height:600px;
}

.single-article-title{
  color:rgb(2, 2, 83)
}

.single-article-image{
  width: 50%;
  float:left; 
  margin:10px; 
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.single-article-body{
  text-align: left;
  margin:10px;
}
